@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap");

$fontOne: "Roboto", sans-serif;
$fontTwo: "Silkscreen", sans-serif;

body {
  padding: 0;
  margin: 0;
  background-color: rgb(56, 55, 55);
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .head {
    height: 550px;
    width: 300px;
  }

  .phone-Wrap {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1px;
    border: solid whitesmoke 1px;

    .screen-Img {
      height: 90%;
    }

    .buttons-Wrap {
      height: 10%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      border-radius: 0 0 0.8rem 0.8rem;
      background-color: whitesmoke;

      ul {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          flex-direction: column;
          cursor: pointer;

          a {
            text-decoration: none;
            color: black;
            font-family: $fontOne;
            font-weight: 500;
            font-size: 13px;
          }
        }
      }
    }
  }
}
